<div class="row">
   <h1 class="col-12 text-right">
      Tipos de Certificados Admitidos por Establecimiento
   </h1>
</div>
<div class="row">
   <div class="col-12">
      <div class="btn-toolbar" role="toolbar">
         <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-primary" title="Actualizar" (click)="refresh()"><i class="fas fa-sync"></i></button>
         </div>
         <div class="btn-group mr-2" role="group">
            <button type="button" title="Nuevo" class="btn btn-success" (click)="newEstablishmentCertificationType(content)"><i class="fas fa-file"></i></button>
            <button type="button" title="Editar" class="btn btn-warning" (click)="editEstablishmentCertificationType(content)"><i class="fas fa-edit"></i></button>
         </div>
         <div class="btn-group mr-2" role="group">
            <button type="button" title="Eliminar" class="btn btn-danger" (click)="deleteEstablishmentCertificationType()"><i class="fas fa-trash"></i></button>
         </div>
         <div class="btn-group mr-2" role="group">
            <button type="button" title="BackUp" class="btn btn-dark" (click)="backup()"><i class="fas fa-download"></i></button>
            <button type="button" title="Exportar CSV" class="btn btn-dark" (click)="toCSV()"><i class="fas fa-file-csv"></i></button>
            <button type="button" title="Cargar" class="btn btn-dark" (click)="uploadInput.click()"><i class="fas fa-upload"></i></button>
            <input [hidden]="true" type="file" class="form-control" #uploadInput (change)="decodeUploadFile($event)" accept=".json"/>
         </div>
         <div class="input-group">
            <div class="input-group-prepend">
              <label
                type="button"
                class="input-group-text btn btn-primary"
                title="Filtrar por Rol Padre"
              >
                <span class="fas fa-search"></span>
            </label>
            </div>
            <select
              class="form-control"
              id="filter_rol_father"
              name="filter_rol_father"
              [(ngModel)]="filter_certification_type_father"
              (change)="refresh()"
            >
              <option value="all" selected>Todos</option>
              <option value="-" selected>Sin Padre</option>
              <option
                *ngFor="let father_establishment_certification_type of father_establishment_certification_types"
                value="{{ father_establishment_certification_type.code }}"
              >
                {{ father_establishment_certification_type.name }}
              </option>
            </select>
          </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-12">
      <table class="table table-hover mt-2">
         <thead>
            <tr>
               <th>Seleccionado</th>
               <th>Nombre</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let establishment_certification_type of establishment_certification_types" (click)="selectEstablishmentCertificationType(establishment_certification_type)">
               <td class="text-right"><span *ngIf="establishment_certification_typeSelected === establishment_certification_type" class="far fa-hand-point-right"></span></td>
               <td>{{establishment_certification_type.name}}</td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
<div class="row">
   <div class="col-12">
      <div class="btn-toolbar" role="toolbar">
         <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-light" *ngIf="currentPage === 1" title="Primera Página" disabled>Primera</button>
            <button type="button" class="btn btn-light" *ngIf="currentPage !== 1" title="Primera Página" (click)="goToPage(1)">Primera</button>
            <button type="button" class="btn btn-light" *ngIf="currentPage > 1" title="Página Anterior" (click)="goToPage((currentPage*1) - 1)">{{(currentPage * 1) - 1}}</button>
            <button type="button" class="btn btn-primary" title="Página Actual">{{currentPage}}</button>
            <button type="button" class="btn btn-light" *ngIf="currentPage < lastPage" title="Página Siguiente" (click)="goToPage((currentPage*1) + 1)">{{(currentPage * 1) + 1}}</button>
            <button type="button" class="btn btn-light" *ngIf="currentPage !== lastPage" title="Última Página" (click)="goToPage(lastPage)">Última</button>
            <button type="button" class="btn btn-light" *ngIf="currentPage === lastPage" title="Última Página" disabled>Última</button>
         </div>
         <div class="input-group">
            <div class="input-group-prepend">
               <button type="button" class="input-group-text btn btn-success" title="Ir a la Página" (click)="goToPage(goToPageNumber.value)">Ir a</button>
            </div>
            <input type="number" min="{{1}}" max="{{lastPage}}" class="form-control" placeholder="Ir a la Página" #goToPageNumber>
         </div>
      </div>
   </div>
</div>
<ng-template #content let-modal>
   <div class="modal-header">
      <h4 class="modal-title">Datos:</h4>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')">
         <span>&times;</span>
      </button>
   </div>
   <div class="modal-body">
      <div class="row">
         <div class="col-12">
            <div class="form-group row">
               <label for="name" class="col-4 col-form-label">Nombre del Certificado</label>
               <div class="col-8">
                  <input type="text" class="form-control" id="name" name="name" placeholder="Nombre del Certificado" [(ngModel)]="establishment_certification_typeSelected.name">
               </div>
            </div>
            <div class="form-group row">
               <label for="father_code" class="col-4 col-form-label"
                 >Tipo de Certificado Padre</label
               >
               <div class="col-8">
                 <select
                   class="form-control"
                   id="father_code"
                   name="father_code"
                   [(ngModel)]="establishment_certification_typeSelected.father_code"
                   (change)="
                   establishment_certification_typeSelected.code = buildCode(
                     establishment_certification_typeSelected.father_code
                     )
                   "
                 >
                   <option value="-" selected>Sin Rol Padre</option>
                   <option
                     *ngFor="let father_establishment_certification_type of all_certification_types"
                     value="{{ father_establishment_certification_type.code }}"
                   >
                     {{ father_establishment_certification_type.name }}
                   </option>
                 </select>
               </div>
             </div>
         </div>
      </div>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" (click)="modal.close('Guardar click')">Guardar</button>
      <button type="button" class="btn btn-outline-danger" (click)="modal.close('Cancelar click')">Cancelar</button>
   </div>
</ng-template>