<video autoplay="autoplay" loop controls="false" muted="muted">
    <source src="assets/videos/Ecuador Travel.mp4" type="video/mp4">
</video>
<div>
    <img src="assets/images/SITURINcolor.png" class="rounded mx-auto d-block" width="500px" height="auto">	
</div>
<div class="text-white">
    <p class="mb-0 text-center">El Ministerio de Turismo le da la cordial bienvenida a la plataforma SITURIN en donde podrá realizar los trámites pertinentes a la regularización de la actividad turística que usted ejerza.</p>
</div>