.login-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 3em;
  background-image: url('./../../assets/images/background_login.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pretty-form {
  background-color:rgba(255, 255, 255, 0.9);
  border-radius: 25px;
}