<div class="row">
    <h1 class="col-12 text-right">
        Administración de Cuentas - Cliente Interno
    </h1>
</div>
<div class="row">
    <div class="col-12">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group mr-2" role="group">
                <button type="button" class="btn btn-primary" title="Actualizar" (click)="refresh()">
                    <i class="fas fa-sync"></i>
                </button>
            </div>
            <div class="btn-group mr-2" role="group">
                <button type="button" title="Nuevo" class="btn btn-success" (click)="newAccountRuc(content)">
                    <i class="fas fa-file"></i>
                </button>
                <button type="button" title="Editar" class="btn btn-warning" (click)="editAccountRuc(content)">
                    <i class="fas fa-edit"></i>
                </button>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <button type="button" class="input-group-text btn btn-primary" title="Filtrar" (click)="refresh()">
                        <span class="fas fa-search"></span>
                    </button>
                </div>
                <input type="text" [(ngModel)]="ruc" class="form-control" id="filter" placeholder="Filtro">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-hover mt-2">
            <thead>
                <tr>
                    <th>Seleccionado</th>
                    <th>Nombre</th>
                    <th>Cédula</th>
                    <th>Correo Electrónico</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let account_ruc of account_rucs" (click)="selectAccountRuc(account_ruc)">
                    <td class="text-right">
                        <span *ngIf="account_rucSelected === account_ruc" class="far fa-hand-point-right"></span>
                    </td>
                    <td>{{ account_ruc.name }}</td>
                    <td>{{ account_ruc.identification }}</td>
                    <td>{{ account_ruc.email }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group mr-2" role="group">
                <button type="button" class="btn btn-light" *ngIf="currentPage === 1" title="Primera Página" disabled>
                    Primera
                </button>
                <button type="button" class="btn btn-light" *ngIf="currentPage !== 1" title="Primera Página"
                    (click)="goToPage(1)">
                    Primera
                </button>
                <button type="button" class="btn btn-light" *ngIf="currentPage > 1" title="Página Anterior"
                    (click)="goToPage(currentPage * 1 - 1)">
                    {{ currentPage * 1 - 1 }}
                </button>
                <button type="button" class="btn btn-primary" title="Página Actual">
                    {{ currentPage }}
                </button>
                <button type="button" class="btn btn-light" *ngIf="currentPage < lastPage" title="Página Siguiente"
                    (click)="goToPage(currentPage * 1 + 1)">
                    {{ currentPage * 1 + 1 }}
                </button>
                <button type="button" class="btn btn-light" *ngIf="currentPage !== lastPage" title="Última Página"
                    (click)="goToPage(lastPage)">
                    Última
                </button>
                <button type="button" class="btn btn-light" *ngIf="currentPage === lastPage" title="Última Página"
                    disabled>
                    Última
                </button>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <button type="button" class="input-group-text btn btn-success" title="Ir a la Página"
                        (click)="goToPage(goToPageNumber.value)">
                        Ir a
                    </button>
                </div>
                <input type="number" min="{{ 1 }}" max="{{ lastPage }}" class="form-control"
                    placeholder="Ir a la Página" #goToPageNumber />
            </div>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Datos:</h4>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span>&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="name">Nombre Completo</label>
            <input type="text" class="form-control" id="name" placeholder="Nombre Completo" [(ngModel)]="account_rucSelected.name" disabled/>
        </div>
        <div class="form-group">
            <label for="identification">Número de Cédula</label><span
            *ngIf="!identificationPersonValidated"
            class="ml-2 badge badge-danger">Incorrecto</span>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-primary" title="Consultar con Registro Civil"
                        (click)="checkIdentification()">
                        <i class="fas fa-sync"></i>
                    </button>
                </div>
                <input type="text" class="form-control" maxlength="10" id="identification" placeholder="Número de Cédula"
                [(ngModel)]="account_rucSelected.identification" (keyup)="checkIdentification()" />
            </div>
        </div>
        <div class="col-12 mb-3">
            <small *ngIf="identificationPersonValidated" id="cedulaRepresentanteHelp"
            class="form-text text-muted" [innerHTML]="CedulaData"></small>
        </div>
        <div class="form-group">
            <label for="email">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" placeholder="Correo Electrónico" [(ngModel)]="account_rucSelected.email" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="modal.close('Guardar click')">
            Guardar
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Cancelar click')">
            Cancelar
        </button>
    </div>
</ng-template>